<a href="https://colab.research.google.com/github/keithferns98/ML_Models/blob/main/outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('adult_csv.csv',na_values=['#NAME?'])

In [2]:
df.head()

   age         workclass  fnlwgt  ... hoursperweek  native-country  class
0    2         State-gov   77516  ...            2   United-States  <=50K
1    3  Self-emp-not-inc   83311  ...            0   United-States  <=50K
2    2           Private  215646  ...            2   United-States  <=50K
3    3           Private  234721  ...            2   United-States  <=50K
4    1           Private  338409  ...            2            Cuba  <=50K

[5 rows x 15 columns]

In [3]:
print(df['class'].value_counts())

<=50K    37155
>50K     11687
Name: class, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
import matplotlib.pyplot as plt

In [6]:
df['class']=[0 if x=='<=50K' else 1 for x in df['class']]

X=df.drop('class',1)
y=df['class']

In [7]:
X

       age         workclass  fnlwgt  ... capitalloss  hoursperweek native-country
0        2         State-gov   77516  ...           0             2  United-States
1        3  Self-emp-not-inc   83311  ...           0             0  United-States
2        2           Private  215646  ...           0             2  United-States
3        3           Private  234721  ...           0             2  United-States
4        1           Private  338409  ...           0             2           Cuba
...    ...               ...     ...  ...         ...           ...            ...
48837    2           Private  215419  ...           0             2  United-States
48838    4               NaN  321403  ...           0             2  United-States
48839    2           Private  374983  ...           0             3  United-States
48840    2           Private   83891  ...           0             2  United-States
48841    1      Self-emp-inc  182148  ...           0             3  United-States

[48842 rows x 14 columns]

In [8]:
X['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [9]:
print(pd.get_dummies(X['education']).head(5))

   10th  11th  12th  1st-4th  ...  Masters  Preschool  Prof-school  Some-college
0     0     0     0        0  ...        0          0            0             0
1     0     0     0        0  ...        0          0            0             0
2     0     0     0        0  ...        0          0            0             0
3     0     1     0        0  ...        0          0            0             0
4     0     0     0        0  ...        0          0            0             0

[5 rows x 16 columns]

In [10]:
def unique_col(df):
  for col in df.columns:
      if df[col].dtype=='object':
          unique_cat=df[col].unique()
          unique_cat_len=len(df[col].unique())
          print(f"Feature {col} has {unique_cat_len} unique categories")
          print("----------------------------------------------------------------------------------------")
          print(f"Unique_col_cat of {col} are \n {unique_cat}")

In [11]:
unique_col(X)

Feature workclass has 9 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of workclass are
 ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' nan
 'Self-emp-inc' 'Without-pay' 'Never-worked']
Feature education has 16 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of education are
 ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
Feature marital-status has 7 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of marital-status are
 ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
Feature occupation has 15 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of occupation are
 ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' nan
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
Feature relationship has 6 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of relationship are
 ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
Feature race has 5 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of race are
 ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
Feature sex has 2 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of sex are
 ['Male' 'Female']
Feature native-country has 42 unique categories
----------------------------------------------------------------------------------------
Unique_col_cat of native-country are
 ['United-States' 'Cuba' 'Jamaica' 'India' nan 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']

In [12]:
print(X['native-country'].value_counts().sort_values(ascending=False))

United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Outlying-US(Guam-USVI-etc)       23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [13]:
X['native-country']=["United-States" if x=="United-States" else "Others" for x in X['native-country']]
X['native-country'].value_counts()

United-States    43832
Others            5010
Name: native-country, dtype: int64

In [14]:
# Create a list of features to dummy
todummy_list = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [15]:
# Function to dummy all the categorical variables used for modeling
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [16]:
X=dummy_df(X,todummy_list)

In [17]:
X.isnull().sum().sort_values(ascending=False).head()

native-country_United-States    0
education_12th                  0
marital-status_Divorced         0
education_Some-college          0
education_Prof-school           0
dtype: int64

In [18]:
 from sklearn.impute import SimpleImputer

imp=SimpleImputer(missing_values=np.nan,strategy='median')
imp.fit(X)

X=pd.DataFrame(data=imp.transform(X),columns=X.columns)


Outlier detection - Tukey IQR

Identifies extreme values in data

Outliers are defined as:

Values below Q1-1.5(Q3-Q1) or above Q3+1.5(Q3-Q1)

Standard deviation from the mean is another common method to detect extreme 
values

But it can be problematic:

Assumes normality

Sensitive to very extreme values

In [19]:
def find_outliers_tukey(x):
    q1 = np.percentile(x, 25)
    q3 = np.percentile(x, 75)
    iqr = q3-q1 
    floor = q1 - 1.5*iqr
    ceiling = q3 + 1.5*iqr
    outlier_indices = list(x.index[(x < floor)|(x > ceiling)])
    outlier_values = list(x[outlier_indices])
    return  outlier_indices,outlier_values

In [20]:
tukey_indices, tukey_values = find_outliers_tukey(X['age'])
print(np.sort(tukey_values))

[]

Outlier detection - Kernel Density Estimation
Non-parametric way to estimate the probability density function of a given feature
Can be advantageous compared to extreme value detection (e.g. Tukey IQR)
Capures outliers in bimodal distributions

In [21]:
from sklearn.preprocessing import scale
from statsmodels.nonparametric.kde import KDEUnivariate

def find_outliers_kde(x):
    x_scaled = scale(list(map(float, x)))
    kde = KDEUnivariate(x_scaled)
    kde.fit(bw="scott", fft=True)
    pred = kde.evaluate(x_scaled)
    
    n = sum(pred < 0.05)
    outlier_ind = np.asarray(pred).argsort()[:n]
    outlier_value = np.asarray(x)[outlier_ind]

    return outlier_ind, outlier_value

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
kde_indices, kde_values = find_outliers_kde(X['age'])
print(np.sort(kde_values))