<a href="https://colab.research.google.com/github/keithferns98/ML_Models/blob/main/PCA_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('adult.csv',encoding='latin-1')

In [3]:
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [4]:
df.shape

(32561, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df[df=='?']=np.nan

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
df['workclass'].mode()

0    Private
dtype: object

In [9]:
for col in ['workclass','occupation','native.country']:
    df[col].fillna(df[col].mode()[0],inplace=True)

In [10]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [11]:
X=df.drop(['income'],axis=1)
y=df['income']

In [12]:
X.head()

   age workclass  fnlwgt  ... capital.loss  hours.per.week native.country
0   90   Private   77053  ...         4356              40  United-States
1   82   Private  132870  ...         4356              18  United-States
2   66   Private  186061  ...         4356              40  United-States
3   54   Private  140359  ...         3900              40  United-States
4   41   Private  264663  ...         3900              40  United-States

[5 rows x 14 columns]

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [14]:
from sklearn import preprocessing
categorical_vals=['workclass','education','marital.status','occupation','relationship','race','sex','native.country']
for col in categorical_vals:
    le = preprocessing.LabelEncoder()
    X_train[col]=le.fit_transform(X_train[col])
    X_test[col]=le.transform(X_test[col])

In [15]:
X_train

       age  workclass  fnlwgt  ...  capital.loss  hours.per.week  native.country
32098   40          6   31627  ...             0              20              38
25206   39          1  236391  ...             0              38              38
23491   42          3  194710  ...             0              40              38
12367   27          1  273929  ...             0              40              38
7054    38          0   99527  ...             0              40              38
...    ...        ...     ...  ...           ...             ...             ...
13123   90          5  282095  ...             0              40              38
19648   36          3  279721  ...             0              40              38
9845    26          3   51961  ...             0              51              38
10799   44          3  115323  ...             0              40              38
2732    39          3  224531  ...             0              40              38

[22792 rows x 14 columns]

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)

X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [18]:
X_train.head()

        age  workclass    fnlwgt  ...  capital.loss  hours.per.week  native.country
0  0.101484   2.600478 -1.494279  ...     -0.217407       -1.662414        0.262317
1  0.028248  -1.884720  0.438778  ...     -0.217407       -0.200753        0.262317
2  0.247956  -0.090641  0.045292  ...     -0.217407       -0.038346        0.262317
3 -0.850587  -1.884720  0.793152  ...     -0.217407       -0.038346        0.262317
4 -0.044989  -2.781760 -0.853275  ...     -0.217407       -0.038346        0.262317

[5 rows x 14 columns]

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

print("Accuracy_Score",accuracy_score(y_test,y_pred)*100)

Accuracy_Score 82.16808271061521

In [21]:
from sklearn.decomposition import PCA
pca = PCA()
X_train = pca.fit_transform(X_train)
pca.explained_variance_ratio_

array([0.14757168, 0.10182915, 0.08147199, 0.07880174, 0.07463545,
       0.07274281, 0.07009602, 0.06750902, 0.0647268 , 0.06131155,
       0.06084207, 0.04839584, 0.04265038, 0.02741548])

In [22]:
#LOGISTIC REGRESSION WITH 13 FEATURES ONLY EXCLUDING NATIVECOUNTRY

X= df.drop(['income','native.country'], axis=1)
y = df['income']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)


categorical = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex']
for feature in categorical:
        le = preprocessing.LabelEncoder()
        X_train[feature] = le.fit_transform(X_train[feature])
        X_test[feature] = le.transform(X_test[feature])


X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)

X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

print('Logistic Regression accuracy score with the first 13 features: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Logistic Regression accuracy score with the first 13 features: 0.8213

In [23]:
X = df.drop(['income','native.country', 'hours.per.week'], axis=1)
y = df['income']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)


categorical = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex']
for feature in categorical:
        le = preprocessing.LabelEncoder()
        X_train[feature] = le.fit_transform(X_train[feature])
        X_test[feature] = le.transform(X_test[feature])


X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)

X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

print('Logistic Regression accuracy score with the first 12 features: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Logistic Regression accuracy score with the first 12 features: 0.8227

In [29]:
X=df.drop(['income','native.country','hours.per.week','capital.loss'],axis=1)
y=df['income']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
categorical_cols=['workclass','education','marital.status','occupation','relationship','race','sex']
for cols in categorical_cols:
    le=preprocessing.LabelEncoder()
    X_train[cols]=le.fit_transform(X_train[cols])
    X_test[cols]=le.transform(X_test[cols])

X_train=pd.DataFrame(scaler.fit_transform(X_train),columns=X.columns)   
X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

print('Logistic Regression accuracy score with the first 12 features: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Logistic Regression accuracy score with the first 12 features: 0.8186